<div class="input-group">

    <label>Aktywna playlista</label>
    <select class="form-control" [ngModel]="selectedId" (ngModelChange)="setSelected($event)">
    <option *ngFor="let team of teamList" [value]="team.id">
      {{team.id}} {{team.name}} ( {{team.players.length}} )
    </option>
  </select>

</div>