<form [formGroup]="searchForm" class="form">
  <div class="input-group">
    <input 
    class="form-control" 
    placeholder="Szukaj"
    formControlName="query"
    
    >
    <!-- <span class="input-group-btn">
      <button type="submit" class="btn btn-success">Szukaj</button>
    </span> -->
  </div>
</form>