

<table class="table table-sm">
    <tr *ngFor="let t of teamList">
        <td>#{{t.id}}</td>
        <td>{{t.name}}</td>
        <td class="text-right">
            <button class="btn btn-sm btn-primary" [routerLink]="[ t.id ]">Preview</button>
            <button class="btn btn-sm btn-secondary" [routerLink]="[ t.id, 'edit' ]">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteTeam(t.id)">Delete</button>
        </td>
    </tr>
</table>
<button class="btn btn-sm btn-secondary" [routerLink]="[ 'new' ]">Add new</button>
