<div class="row">
  <div class="col-md-12">
    <h4>
      Albumy
    </h4>
    <app-music-search-form></app-music-search-form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-album-list></app-album-list>
  </div>
</div>