<!--The content below is only a placeholder and can be replaced.-->

<app-nav-bar></app-nav-bar>

<!-- <app-breadcrumb></app-breadcrumb> -->

<div class="container">



    <!-- <app-play-lists></app-play-lists> -->
    <!-- <app-music-search></app-music-search> -->
    <router-outlet></router-outlet>
</div>


<nav class="navbar navbar-expand-sm navbar-dark navbar-fixed-bottom bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <div class="container navbar-collapse">

        <div class="col-sm"></div>
        <div class="col-sm">

            <app-team-selector></app-team-selector>

        </div>

    </div>

</nav>