<!-- <form #formRef="ngForm" *ngIf="teamDetail" (ngSubmit)="saveTeam(formRef)" novalidate> -->
<form [formGroup]="addEditForm" *ngIf="teamDetail" (ngSubmit)="saveTeam(addEditForm)" novalidate>

    <div class="form-group">
        <label class="label">Name</label>
        <!-- <input name="name" #nameRef="ngModel" [(ngModel)]="teamDetail.name" class="form-control" [ngClass]="isValidField(nameRef)"> {{teamDetail.name}} -->
        <input name="name" formControlName="name" class="form-control" [ngClass]="isValidField(addEditForm.controls.name)">
        <!-- --<pre>{{addEditForm.get('name').value}}</pre>-- -->
    </div>

    <div formGroupName="another">
        <div class="form-group">
            <label class="label">Sponsor</label>
            <input 
            [ngClass]="isValidField(addEditForm.controls.another.controls.sponsor)"
            name="sponsor" formControlName="sponsor" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="label ">Favourites</label>
        <input name="favourites" formControlName="favourites" type="checkbox"> {{teamDetail.favourites}}
    </div>

    <button type="submit" class="btn btn-success">Save</button>

</form>