<nav class="navbar navbar-expand-sm navbar-dark bg-primary">

    <div class="container navbar-collapse">
        <!-- <h3> -->
        <a routerLink="/" class="navbar-brand">Muzyka</a>
        <!-- </h3> -->
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
                <a routerLink="/music" routerLinkActive="active" class="nav-link">Szukaj muzyki</a>
            </li>
            <li class="nav-item">
                <a routerLink="/playlist" routerLinkActive="active" class="nav-link">Playlisty</a>
            </li>
            <li class="nav-item">
                <a routerLink="/team" routerLinkActive="active" class="nav-link">Team</a>
            </li>
        </ul>
    </div>

</nav>