<audio #audio_id controls style="width:100%"></audio>


<table class="table table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Wykonawca</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let track of tracks">
            <td>{{track.track_number}}</td>
            <td>{{track.name}}</td>
            <td>{{track.artists[0].name}}</td>
            <td>
                <button (click)="play(audio_id, track)">Play</button>
                <button (click)="addToTeam(track)">Add</button>
            </td>
        </tr>
    </tbody>
</table>
Any commits