<div class="row" *ngIf="album">
  <div class="col" >
    <app-album-card class="card" [album]="album">

    </app-album-card>
  </div>
  <div class="col-8">
    <h4 class="display-3 mb-2 ">Utwory</h4>
    <app-track-list [tracks]="album.tracks.items"></app-track-list>
  </div>
</div>