<!-- <form [formGroup]="searchForm">

<form #formRef="ngForm" novalidate>
  <div class="form-group col-4">



    <input minlength="3" required name="firstname" type="text" #nameRef="ngModel" [(ngModel)]="firstname" class="form-control "
      [ngClass]="{'is-invalid': nameRef.errors}">
    <span *ngIf="nameRef.errors?.required">To pole jest wymagane</span>
    <span *ngIf="nameRef.errors?.minlength">
      To pole musi mieć co najmniej {{nameRef.errors.minlength.requiredLength}} znaki
    </span>



  </div>

  <span>{{nameRef.value}} - {{nameRef.valid}}</span> {{formRef.valid}}
  <button type="submit" (click)="sendForm(formRef)" class="btn">
    Send
  </button>
</form> -->


<form [formGroup]="searchForm" (ngSubmit)="sendForm()">
  <input formControlName="query">
  <button type="submit">Send</button>
</form>