<div class="details" *ngIf="teamDetail">
  <h3>Name: {{teamDetail.name}} ({{teamDetail.id}})</h3>
  <h5>Sponsor: {{teamDetail.sponsor}}</h5>
  <ul>
    <li *ngFor="let p of teamDetail.players">{{p.name}} - {{p.number}}</li>
  </ul>
</div>
